blockquote {
  margin: 5px 20px 30px 20px;
  padding: 10px 10px 10px 10px;
  color: #575c60;
  font-size: 15px;
  text-align: justify;
}
h3 {
  color: #454a4f;
  font-style: italic;
}
.posts_wrapper {
  width: 60%;
  padding: 0;
}
.title_wrapper {
  width: 60%;
  margin-bottom: 20px;
  padding: 0;
}
footer {
  margin-top: 10px;
}
.footer_wrapper {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  text-align: center;
  color: #2C3E50;
}
.title {
  padding: 0px;
  color: #373b3f;
}
.navbutton {
  margin-top: 22px;
  padding: 0;
}
.row {
  margin: 0;
}
